<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\Dan\Pictures;C:\Users\Dan\Pictures\Camera Roll;C:\Users\Bxddc"/>
    <add key="OutputDir" value="C:\Users\Dan\source\repos\ImageService\ImageServiceWeb\Content\OutputDir"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key ="ThumbnailSize"  value ="120"/>
    <add key ="ServerPort" value="8000"/>
    <add key ="AndroidPort" value="8080"/>
  </appSettings>
</configuration>