@model ImageServiceWeb.Models.LogsModel

@{
    ViewBag.Title = "Logs";

}

<h2>Logs</h2>

<div>
    <form id="logForm">
        <select id="typeSelector" name="Type">
            <option value="INFO">INFO</option>
            <option value="WARNING">WARNING</option>
            <option value="FAIL">FAIL</option>
        </select>
        <input type="submit" value="filter"/>
    </form>

    <script>
        $(document).ready(function () {
            $("#logForm").submit(function () {
                var data = {
                    type: $("#typeSelector").val()
                };
                $.post("@Url.Action("GetByType")", data, function () {
                    location.reload();
                });
            });
        });

    </script>
</div>
<div>
    <table class="table table-hover table-striped table-borderless">
        <thead>
            <tr>
                <th>Type</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Logs)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Message)</td>
                </tr>
            }
        </tbody>
    </table>
</div>