@model ImageServiceWeb.Models.LogsModel

@{
    ViewBag.Title = "Logs";

}

<h2>Logs</h2>

<div>
    <form id="logForm" class="form-inline" name="logForm">
        <select id="typeSelector" name="Type" class="form-control-sm" style="margin: 10px">
            <option value="*" data-sort="1">ALL</option>
            <option value="INFO" data-sort="2">INFO</option>
            <option value="WARNING" data-sort="3">WARNING</option>
            <option value="FAIL" data-sort="4">FAIL</option>
        </select>
        <button class="btn btn-outline-primary" type="submit">filter</button>
    </form>

    <script>
        $(document).ready(function () {

            $("#logForm").submit(function () {
                var data = {
                    type: $("#typeSelector").val()
                };
                $.get("@Url.Action("GetByType")", data, function () {
                    location.reload();
                });
            });
        });

        window.onload = function () {
            var selItem = sessionStorage.getItem("InfoItem");
            $('#typeSelector').val(selItem);
        }

        $('#typeSelector').change(function () {
            var val = $(this).val();
            sessionStorage.setItem("InfoItem", val);
        });
               

    </script>
</div>
<div>
    <table class="table table-hover table-striped table-borderless">
        <thead>
            <tr>
                <th>Type</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Logs)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Message)</td>
                </tr>
            }
        </tbody>
    </table>
</div>