
@{
    ViewBag.Title = "RemoveHandler";

}
<br />
<h2>RemoveHandler</h2>

<p>Remove<mark><strong><em>@ViewBag.handlerVerbatimString?</em></strong></mark></p>
<button type="button" id="removeBtn" class="btn btn-secondary">Cancel</button>
<button type="button" id="cancelRemoveBtn" class="btn btn-danger">Confirm</button>
<br /> <br />
<img id="loader" src="~/Content/processing.gif" width="120" height="120" style="display: none;">
@Html.Hidden("RedirectToConfig", Url.Action("Config", "Home"))

<script>
    $(document).ready(function () {
        $("#removeBtn").click(function () {
            $(this).prop('disabled', true);
            $(document.getElementById("cancelRemoveBtn")).prop('disabled', true);
            var handler = {
                handler:  "@ViewBag.handler"
            };
            $("#loader").show();
            $.post("@Url.Action("RemoveHandlerConfirmation")", handler, function () {
                var url = $('#RedirectToConfig').val();
                location.href = url;
            });
        });
        $("#cancelRemoveBtn").click(function () {
            var url = $('#RedirectToConfig').val();
            location.href = url;
        });
    });

</script>